$color-bg-main: #84a178;
$color-accent: #f8d24e;
$color-text-main: #fcfcfc;
$color-text-secondary: #131313;
$color-first-card: #aec6a5;
$color-second-card: #efd478;
$color-third-card: #d6936d;
$color-adress: #d6936d;
$color-time: #ababab;
$color-text-footer: #7a7a7a;
// modals
$color-input: rgba(248, 210, 78, 0.1);
$color-modal-bg: #fcfcfc;
$color-modal-accent: #9cbe8f;
// buttons
$color-btn-text: #000000;
$color-btn-hover: #0a8817;
$color-btn-disabled: #ababab;
$color-btn-text-secondary: #ffffff;

$cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
