<section>
    <div class="container">
        <div class="variable">
            <p class="made__paragraph">tradition and love</p>
            <h2 class="made__title">how it’s made?</h2>
        </div>

        <div class="buffalo">
            <img srcset="./images/how-its-made/cow-mobile-1x.png,
          ./images/how-its-made/cow-mobile-2x.png,
           ./images/how-its-made/cow-mobile-3x.png" src="./images/how-its-made/cow-mobile-1x.png" alt="buffalo" max-width="767">

            <img srcset="./images/how-its-made/cow-tablet-1x.png,
           ./images/how-its-made/cow-tablet-2x.png,
           ./images/how-its-made/cow-tablet-3x.png" src="./images/how-its-made/cow-tablet-1x.png" alt="buffalo" width="768">

            <img srcset="./images/how-its-made/cow-desktop-1x.png,
           ./images/how-its-made/cow-desktop-2x.png,
           ./images/how-its-made/cow-desktop-3x.png" src="./images/how-its-made/cow-desktop-1x.png" alt="buffalo" width="1200">-->

        </div>
     
        <ul class="made__text">
            <li class="made__text-one">Ice is a place where you will become not only a little happier, but also healthier. Health is the main value for us, and
            we follow it when creating our handmade desserts.</li>
            <li class="made__text-two">We use traditional recipes and 100% natural ingredients. Our products are so
                natural that they can be given to children
                from the age of three years. Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23
                milkshakes.</li>
            <li class="made__text-three">This is enough to choose ice cream and coffee for any mood!</li>
        </ul>
       
        <button class="made__button" type="button" data-modal-open>Read more
            <svg class="arrow__icon" width="12" height="12">
                <use href="./images/sprite.svg#icon-arrow-right-on-btn"></use>
            </svg>
        </button>



    </div>
</section>