<section class="advantages">
  <ul class="advantages__items">
    <li class="advantages__item">
      <img
        srcset="
          ./images/advantages/icon-cow-1x.png 1x,
          ./images/advantages/icon-cow-2x.png 2x,
          ./images/advantages/icon-cow-3x.png 3x
        "
        src="./images/advantages/icon-cow-1x.png"
        alt="cow"
        class="advantages__image"
      />
      <p class="advantages__number">721</p>
      <p class="advantages__description">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="advantages__item">
      <img
        srcset="
          ./images/advantages/icon-weight-1x.png 1x,
          ./images/advantages/icon-weight-2x.png 2x,
          ./images/advantages/icon-weight-3x.png 3x
        "
        src="./images/advantages/icon-weight-1x.png"
        alt="poise"
        class="advantages__image"
      />
      <p class="advantages__number">16kg</p>
      <p class="advantages__description">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="advantages__item">
      <img
        srcset="
          ./images/advantages/icon-ice-cream-1x.png 1x,
          ./images/advantages/icon-ice-cream-2x.png 2x,
          ./images/advantages/icon-ice-cream-3x.png 3x
        "
        src="./images/advantages/icon-ice-cream-1x.png"
        alt="horn"
        class="advantages__image"
      />
      <p class="advantages__number">84</p>
      <p class="advantages__description">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
  </ul>
</section>
