<section class="advantages">
  <div class="container">
    <h2 class="adventages__title">Advantages</h2>
    <ul class="advantages__items">
      <li class="advantages__item">
        <span class="advantages__number">721</span>
        <p class="advantages__description">
          <span class="not-show-desktop"> Our raw </span>
          <span class="show-desktop">Raw </span>material suppliers have this
          quantity on the farm.
          <span class="show-desktop">
            Each of them undergoes an annual health check and is in excellent
            conditions 一 every day.
          </span>
        </p>
      </li>
      <li class="advantages__item">
        <span class="advantages__number">16kg</span>
        <p class="advantages__description">
          We purchase a certain amount of the best raw materials from verified
          suppliers.
          <span class="show-desktop"
            >The milk goes through all kinds of quality checks to get the ISO
            certificate. We very carefully approach the issue of purchasing
            high-quality raw products, because we must produce perfectly tasty
            and healthy 一 ice cream!</span
          >
        </p>
      </li>
      <li class="advantages__item">
        <span class="advantages__number">84</span>
        <p class="advantages__description">
          Every week we make 84 portions of ice cream, 190 grams each.
          <span class="show-desktop">
            This is not much - that's why each copy is made with high quality
            and with love.</span
          >
        </p>
      </li>
    </ul>
  </div>
</section>
