<section class="advantages">
  <div class="container">
    <ul class="advantages__items">
      <li class="advantages__item">
        <img
          srcset="
            ./images/advantages/icon-cow-1x.png 1x,
            ./images/advantages/icon-cow-2x.png 2x,
            ./images/advantages/icon-cow-3x.png 3x
          "
          src="./images/advantages/icon-cow-1x.png"
          alt="cow"
          class="advantages__image"
        />
        <p class="advantages__number">721</p>
        <p class="advantages__description">
          <span class="not-show-desktop"> Our raw </span>
          <span class="show-desktop">Raw </span>material suppliers have this
          number of cows on the farm. Each of them undergoes an annual health
          check and is in excellent conditions<span class="show-desktop">
            一
          </span>
          every day.
        </p>
      </li>
      <li class="advantages__item">
        <img
          srcset="
            ./images/advantages/icon-weight-1x.png 1x,
            ./images/advantages/icon-weight-2x.png 2x,
            ./images/advantages/icon-weight-3x.png 3x
          "
          src="./images/advantages/icon-weight-1x.png"
          alt="poise"
          class="advantages__image"
        />
        <p class="advantages__number">16kg</p>
        <p class="advantages__description">
          Every week, we purchase a certain amount of the best raw materials
          from verified suppliers for the production of our products. The milk
          goes through all kinds of quality checks to get the ISO certificate.
          <span class="show-desktop"
            >We very carefully approach the issue of purchasing high-quality raw
            products, because we must produce perfectly tasty and healthy 一 ice
            cream!</span
          >
        </p>
      </li>
      <li class="advantages__item">
        <img
          srcset="
            ./images/advantages/icon-ice-cream-1x.png 1x,
            ./images/advantages/icon-ice-cream-2x.png 2x,
            ./images/advantages/icon-ice-cream-3x.png 3x
          "
          src="./images/advantages/icon-ice-cream-1x.png"
          alt="horn"
          class="advantages__image"
        />
        <p class="advantages__number">84</p>
        <p class="advantages__description">
          Every week we make 84 portions of ice cream, 190 grams each, every day
          12 pieces. This is not much - that's why each copy is made with high
          quality and with love.
        </p>
      </li>
    </ul>
  </div>
</section>
