<section class="contacts">
  <div class="container">
    <h2 class="contacts__hidden-header">Contacts</h2>
    <div class="contacts-transform__container">
      <ul class="contacts__list">
        <li class="contacts-list__item" id="contact">
          <div class="contacts-list-item__box">
            <p class="contacts-list-item-box__categories text-categories">
              CAFE
            </p>
          </div>
          <div class="contacts-list-item__container">
            <p class="contacts-list-item__name-city">Chicago</p>
            <a
              href="https://goo.gl/maps/z5zQikduhLcWutUt6"
              class="contacts-list-item__address"
              target="_blank"
              rel="noreferrer noopener nofollow"
              >10340 Ridgeland Ave,<br />
              Chicago Ridge, IL 60415, USA</a
            >
            <p class="contacts-list-item__days text-days-setting">
              Monday - Friday
            </p>
            <p class="contacts-list-item__time text-time-setting">
              06:00 AM - 10:00 PM
            </p>
            <p class="contacts-list-item__days-1 text-days-setting">
              Saturday - Sunday
            </p>
            <p class="contacts-list-item__time-1 text-time-setting">
              08:00 AM - 16:00 PM
            </p>
            <ul class="contacts-list-item__communication">
              <li class="contacts-list-item-communication__link">
                <a
                  href="tel:+61(0) 383 766 284"
                  class="contacts-list-item-communication-link__phone text-link-setting"
                  >+61(0) 383 766 284</a
                >
              </li>
              <li class="contacts-list-item-communication__link">
                <a
                  href="mailto:noreply@envato.com"
                  class="contacts-list-item-communication-link__email text-link-setting"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </div>
        </li>

        <li class="contacts-list__item">
          <div class="contacts-list-item__box-2">
            <p class="contacts-list-item-box-2__categories text-categories">
              FOOD TRUCK
            </p>
          </div>
          <div class="contacts-list-item__container">
            <p class="contacts-list-item__name-city">Los Angeles</p>
            <a
              href="https://goo.gl/maps/Y5SNx8bvwrNBH32U6"
              class="contacts-list-item__address"
              target="_blank"
              rel="noreferrer noopener nofollow"
              >1003 Manhattan Ave, Manhattan <br />Beach, CA 90263, USA</a
            >
            <p class="contacts-list-item__days text-days-setting">
              Monday - Friday
            </p>
            <p class="contacts-list-item__time text-time-setting">
              06:00 AM - 10:00 PM
            </p>
            <p class="contacts-list-item__days-1 text-days-setting">
              Saturday - Sunday
            </p>
            <p class="contacts-list-item__time-1 text-time-setting">
              08:00 AM - 16:00 PM
            </p>
            <ul class="contacts-list-item__communication">
              <li class="contacts-list-item-communication__link">
                <a
                  href="tel:+61(0) 383 766 284"
                  class="contacts-list-item-communication-link__phone text-link-setting"
                  >+61(0) 383 766 284</a
                >
              </li>
              <li class="contacts-list-item-communication__link">
                <a
                  href="mailto:noreply@envato.com"
                  class="contacts-list-item-communication-link__email text-link-setting"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </div>
        </li>
        <li class="contacts-list__item">
          <div class="contacts-list-item__box">
            <p class="contacts-list-item-box__categories text-categories">
              CAFE
            </p>
          </div>
          <div class="contacts-list-item__container">
            <p class="contacts-list-item__name-city">New York</p>
            <a
              href="https://goo.gl/maps/xA7mDS7hHd4frqb79"
              class="contacts-list-item__address"
              target="_blank"
              rel="noreferrer noopener nofollow"
              >726 Sterling Pl, Brooklyn, NY <br />
              11222, USA</a
            >
            <p class="contacts-list-item__days text-days-setting">
              Monday - Friday
            </p>
            <p class="contacts-list-item__time text-time-setting">
              06:00 AM - 10:00 PM
            </p>
            <p class="contacts-list-item__days-1 text-days-setting">
              Saturday - Sunday
            </p>
            <p class="contacts-list-item__time-1 text-time-setting">
              08:00 AM - 16:00 PM
            </p>
            <ul class="contacts-list-item__communication">
              <li class="contacts-list-item-communication__link">
                <a
                  href="tel:+61(0) 383 766 284"
                  class="contacts-list-item-communication-link__phone text-link-setting"
                  >+61(0) 383 766 284</a
                >
              </li>
              <li class="contacts-list-item-communication__link">
                <a
                  href="mailto:noreply@envato.com"
                  class="contacts-list-item-communication-link__email text-link-setting"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="container-button">
      <button
        class="contacts-button__btn-primary js-open-modal"
        data-modal="modal-map"
        type="button"
      >
        Our Locations
        <svg class="container-button__arrow" width="12" height="12">
          <use href="./images/sprite.svg#icon-arrow-right-on-btn"></use>
        </svg>
      </button>
      <button
        class="contacts-button__btn-primary-1 js-open-modal"
        data-modal="modal-franchise"
        type="button"
      >
        Franchise
        <svg class="container-button__arrow" width="12" height="12">
          <use href="./images/sprite.svg#icon-arrow-right-on-btn"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
