<section class="customer-reviews">
  <div class="wrapper container">
    <input type="radio" name="point" id="slide1" checked />
    <input type="radio" name="point" id="slide2" />
    <input type="radio" name="point" id="slide3" />

    <div class="slider">
      <div class="slides slide1">
        <img
          class="customer-photo"
          src="./images/customer-reviews/member1-1x.png"
          alt=""
        />
        <p class="customer-comment">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <p class="customer-name">Emily, Los Angeles</p>
      </div>
      <div class="slides slide2">
        <img
          class="customer-photo"
          src="./images/customer-reviews/member2-1x.png"
          alt=""
        />
        <p class="customer-comment">
          Every day we come to you with friends after classes in college. We
          love your ice cream and casual atmosphere!
        </p>
        <p class="customer-name">Bryan, New-York</p>
      </div>
      <div class="slides slide3">
        <img
          class="customer-photo"
          src="./images/customer-reviews/member3-1x.png"
          alt=""
        />
        <p class="customer-comment">
          Ice cream is my passion! I love your chocolate hazelnut ice cream! And
          I really like the excellent service - always served politely and
          quickly!
        </p>
        <p class="customer-name">Diana, Chicago</p>
      </div>
    </div>
    <div class="controls">
      <label for="slide1"></label>
      <label for="slide2"></label>
      <label for="slide3"></label>
    </div>
  </div>
</section>
