<section class="customer-reviews">
  
  <h2 class="customer-reviews__title">Customer reviews</h2>
  <div class="wrapper container">
    <input
      class="wrapper__input"
      type="radio"
      name="point"
      id="slide1"
      checked
    />
    <input class="wrapper__input" type="radio" name="point" id="slide2" />
    <input class="wrapper__input" type="radio" name="point" id="slide3" />

    <div class="wrapper__slider">
      <div class="wrapper__slides wrapper__slides--slide1">
        <img
          class="wrapper__photo"
          srcset="
            ./images/customer-reviews/member1-1x.png 1x,
            ./images/customer-reviews/member1-2x.png 2x,
            ./images/customer-reviews/member1-3x.png 3x
          "
          src="./images/customer-reviews/member1-1x.png"
          alt="customer-photo"
          height="auto"
        />

        <p class="wrapper__comment">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <p class="wrapper__name">Emily, Los Angeles</p>
      </div>
      <div class="wrapper__slides wrapper__slides--slide2">
        <img
          class="wrapper__photo"
          srcset="
            ./images/customer-reviews/member2-1x.png 1x,
            ./images/customer-reviews/member2-2x.png 2x,
            ./images/customer-reviews/member2-3x.png 3x
          "
          src="./images/customer-reviews/member2-1x.png"
          alt="customer-photo"
          height="auto"
        />
        <p class="wrapper__comment">
          Every day we come to you with friends after classes in college. We
          love your ice cream and casual atmosphere!
        </p>
        <p class="wrapper__name">Bryan, New-York</p>
      </div>
      <div class="wrapper__slides wrapper__slides--slide3">
        <img
          class="wrapper__photo"
          srcset="
            ./images/customer-reviews/member3-1x.png 1x,
            ./images/customer-reviews/member3-2x.png 2x,
            ./images/customer-reviews/member3-3x.png 3x
          "
          src="./images/customer-reviews/member3-1x.png"
          alt="customer-photo"
          height="auto"
        />
        <p class="wrapper__comment">
          Ice cream is my passion! I love your chocolate hazelnut ice cream! And
          I really like the excellent service - always served politely and
          quickly!
        </p>
        <p class="wrapper__name">Diana, Chicago</p>
      </div>
    </div>
    <div class="wrapper__controls">
      <button type="button" class="wrapper__button">
        <label class="wrapper__label" for="slide1"></label>
      </button>
      <button type="button" class="wrapper__button">
        <label class="wrapper__label" for="slide2"></label>
      </button>

      <button type="button" class="wrapper__button">
        <label class="wrapper__label" for="slide3"></label>
      </button>
    </div>
  </div>
</section>
