<section class="footer">
    <div class="container">
    <p>homemade ice cream made</p>
    <p>with passion</p>
    <ul class="footer__soc">
        <li class="footer__soc__list">
            <a class="footer__soc__list__link link" href="#">
                <svg class="footer__soc__list__link__item" width="34" height="34">
                    <use href="./images/sprite-footer.svg#icon-github"></use>
                </svg>
        </li>
        <li class="footer__soc__list">
            <a class="footer__soc__list__link link" href="#">
                <svg class="footer__soc__list__link__item" width="34" height="34">
                    <use href="./images/sprite-footer.svg#icon-telegram"></use>
                </svg>
        </li>
        <li class="footer__soc__list">
            <a class="footer__soc__list__link link" href="#">
                <svg class="footer__soc__list__link__item" width="34" height="34">
                    <use href="./images/sprite-footer.svg#icon-facebook"></use>
                </svg>
        </li>
        <a href="tel:+610383766284" class="footer__tel">
            <p class="footer__tel__text">Feel free to contact</p>
            +61 (0) 383 766 284</a>
    </ul>
    </div>
</section>