<section class="footer">
    <div class="container">
    <div class="footer__wrap">
        <div>
            <p class="footer__title">homemade ice cream made</p>
            <p class="footer__subtitle">with passion</p>
        </div>
        <div class="footer__wrap__soc">
            <ul class="footer__soc">
                <li class="footer__soc__list">
                    <a class="footer__soc__list__link" href="#">
                        <svg class="footer__soc__list__link__item" width="34" height="34">
                            <use href="./images/footer/sprite-footer.svg#icon-github"></use>
                        </svg>
                </li>
                <li class="footer__soc__list">
                    <a class="footer__soc__list__link" href="#">
                        <svg class="footer__soc__list__link__item" width="34" height="34">
                            <use href="./images/footer/sprite-footer.svg#icon-telegram"></use>
                        </svg>
                </li>
                <li class="footer__soc__list">
                    <a class="footer__soc__list__link" href="#">
                        <svg class="footer__soc__list__link__item" width="34" height="34">
                            <use href="./images/footer/sprite-footer.svg#icon-facebook"></use>
                        </svg>
                </li>
            </ul>
            <p class="footer__tel">
            Feel free to contact
            <a href="tel:+610383766284" class="footer__tel__number">
                +61 (0) 383 766 284</a>
            </p>
        </div>
    </div>
    </div>
    <div class="footer__downtext">
        <p class="footer__downtext__first">© 2022 - IceCream.
        </p>
        <p class="footer__downtext__second">
            All Rights Reserved.</p>
    </div>
</section>