<section class="gallery">
  <div class="container">
    <div class="gallery--container">
      <h1 class="secret-name">GALLERY</h1>
      <ul class="gallery__items" id="slideset">
        <!-- <li class="gallery__item">
          <div class="card__content">
            <h3 class="card__title">Apricot ice cream</h3>
            <p class="card__description">Very tasty</p>
          </div>
          <picture>
            <source
              srcset="
                ./images/gallery/photo1-origin-desktop-1x.jpg 1x,
                ./images/gallery/photo1-origin-desktop-2x.jpg 2x,
                ./images/gallery/photo1-origin-desktop-3x.jpg 3x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/gallery/photo1-origin-tablet-1x.jpg 1x,
                ./images/gallery/photo1-origin-tablet-2x.jpg 2x,
                ./images/gallery/photo1-origin-tablet-3x.jpg 3x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/photo1-origin-480px-1x.jpg 1x,
                ./images/gallery/photo1-origin-480px-2x.jpg 2x,
                ./images/gallery/photo1-origin-480px-3x.jpg 3x
              "
              media="(min-width: 480px)"
            />
            <source
              srcset="
                ./images/gallery/photo1-origin-mobile-1x.jpg 1x,
                ./images/gallery/photo1-origin-mobile-2x.jpg 2x,
                ./images/gallery/photo1-origin-mobile-3x.jpg 3x
              "
              media="(min-width: 220px)"
            />
            <img
              class="card__image"
              src="./images/gallery/photo1-origin-desktop-1x.jpg"
              alt="Apricot ice cream"
            />
          </picture>
        </li> -->
        <li class="gallery__item">
          <div class="card__content">
            <p>
              <span class="card__title">Vanilla ice cream</span>
              <span class="card__description">Ideal for everybody</span>
            </p>
          </div>
          <picture>
            <source
              srcset="
                ./images/gallery/photo2-origin-desktop-1x.jpg 1x,
                ./images/gallery/photo2-origin-desktop-2x.jpg 2x,
                ./images/gallery/photo2-origin-desktop-3x.jpg 3x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/gallery/photo2-origin-tablet-1x.jpg 1x,
                ./images/gallery/photo2-origin-tablet-2x.jpg 2x,
                ./images/gallery/photo2-origin-tablet-3x.jpg 3x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/photo2-origin-480px-1x.jpg 1x,
                ./images/gallery/photo2-origin-480px-2x.jpg 2x,
                ./images/gallery/photo2-origin-480px-3x.jpg 3x
              "
              media="(min-width: 480px)"
            />
            <source
              srcset="
                ./images/gallery/photo2-origin-mobile-1x.jpg 1x,
                ./images/gallery/photo2-origin-mobile-2x.jpg 2x,
                ./images/gallery/photo2-origin-mobile-3x.jpg 3x
              "
              media="(min-width: 220px)"
            />
            <img
              class="card__image"
              src="./images/gallery/photo2-origin-desktop-1x.jpg"
              alt="Vanilla ice cream"
            />
          </picture>
        </li>
        <li class="gallery__item">
          <div class="card__content">
            <p>
              <span class="card__title">Raspberry ice cream</span>
              <span class="card__description">First for lovers</span>
            </p>
          </div>
          <picture>
            <source
              srcset="
                ./images/gallery/photo3-origin-desktop-1x.jpg 1x,
                ./images/gallery/photo3-origin-desktop-2x.jpg 2x,
                ./images/gallery/photo3-origin-desktop-3x.jpg 3x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/gallery/photo3-origin-tablet-1x.jpg 1x,
                ./images/gallery/photo3-origin-tablet-2x.jpg 2x,
                ./images/gallery/photo3-origin-tablet-3x.jpg 3x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/photo3-origin-480px-1x.jpg 1x,
                ./images/gallery/photo3-origin-480px-2x.jpg 2x,
                ./images/gallery/photo3-origin-480px-3x.jpg 3x
              "
              media="(min-width: 480px)"
            />
            <source
              srcset="
                ./images/gallery/photo3-origin-mobile-1x.jpg 1x,
                ./images/gallery/photo3-origin-mobile-2x.jpg 2x,
                ./images/gallery/photo3-origin-mobile-3x.jpg 3x
              "
              media="(min-width: 220px)"
            />
            <img
              class="card__image"
              src="./images/gallery/photo3-origin-desktop-1x.jpg"
              alt="Raspberry ice cream"
            />
          </picture>
        </li>
        <li class="gallery__item">
          <div class="card__content">
            <p>
              <span class="card__title">Strawberry ice cream</span>
              <span class="card__description">With chocolate and sweet straws</span>
            </div>
            </p>
          <picture>
            <source
              srcset="
                ./images/gallery/photo4-origin-desktop-1x.jpg 1x,
                ./images/gallery/photo4-origin-desktop-2x.jpg 2x,
                ./images/gallery/photo4-origin-desktop-3x.jpg 3x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/gallery/photo4-origin-tablet-1x.jpg 1x,
                ./images/gallery/photo4-origin-tablet-2x.jpg 2x,
                ./images/gallery/photo4-origin-tablet-3x.jpg 3x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/photo4-origin-480px-1x.jpg 1x,
                ./images/gallery/photo4-origin-480px-2x.jpg 2x,
                ./images/gallery/photo4-origin-480px-3x.jpg 3x
              "
              media="(min-width: 480px)"
            />
            <source
              srcset="
                ./images/gallery/photo4-origin-mobile-1x.jpg 1x,
                ./images/gallery/photo4-origin-mobile-2x.jpg 2x,
                ./images/gallery/photo4-origin-mobile-3x.jpg 3x
              "
              media="(min-width: 220px)"
            />
            <img
              class="card__image"
              src="./images/gallery/photo4-origin-desktop-1x.jpg"
              alt="Strawberry ice cream"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
