<!-- <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" /> -->

<div class="swiper slider slider_main">
  <div class="swipper-wrapper slider-wrapper"></div>
  <div class="swiper-slider slider__item">
    123
    <!-- <img src="./images/gallery/photo1-1x.jpg" alt="Apricot" />
    <h3 class="cardTitle">Apricot ice cream</h3>
    <p class="cardDescription">Very tasty</p> -->
  </div>
  <div class="swiper-slider slider__item">
    123
    <!-- <img src="./images/gallery/photo2-1x.jpg" alt="" /> -->
  </div>
  <!-- <div class="swiper-slider slider__item">
    <img src="./images/gallery/photo3-1x.jpg" alt="" />
  </div>
  <div class="swiper-slider slider__item">
    <img src="./images/gallery/photo4-1x.jpg" alt="" />
  </div>
  <div class="swiper-slider slider__item">
    <img src="./images/gallery/photo5-1x.jpg" alt="" />
  </div>
  <div class="swiper-slider slider__item">
    <img src="./images/gallery/photo6-1x.jpg" alt="" />
  </div>
  <div class="swiper-slider slider__item">
    <img src="./images/gallery/photo7-1x.jpg" alt="" />
  </div>
  <div class="swiper-slider slider__item">
    <img src="./images/gallery/photo8-1x.jpg" alt="" />
  </div>
  <div class="swiper-slider slider__item">
    <img src="./images/gallery/photo9-1x.jpg" alt="" />
  </div>
  <div class="swiper-slider slider__item">
    <img src="./images/gallery/photo10-1x.jpg" alt="" />
  </div>
  <div class="swiper-slider slider__item">
    <img src="./images/gallery/photo11-1x.jpg" alt="" />
  </div>
  <div class="swiper-slider slider__item">
    <img src="./images/gallery/photo12-1x.jpg" alt="" />
  </div> -->
  <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</div>
