<section class="gallery container">
  <h1 class="title secret-name"></h1>
  <div class="galleryItem">
    <a
      class="card"
      href="./images/gallery/photo1-1x.jpg"
      target="_blank"
      data-title="Apricot ice cream"
      data-description="Very tasty"
    >
      <div class="cardContent">
        <h3 class="cardTitle">Apricot ice cream</h3>
        <p class="cardDescription">Very tasty</p>
      </div>
      <div class="cardHover"></div>
      <img
        class="cardImage"
        src="./images/gallery/photo1-1x.jpg"
        alt="Apricot ice cream"
      />
    </a>
  </div>
  <div class="galleryItem">
    <a
      class="card"
      href="./images/gallery/photo2-1x.jpg"
      target="_blank"
      data-title="Vanilla ice cream"
      data-description="Ideal for everybody"
    >
      <div class="cardContent">
        <h3 class="cardTitle">Vanilla ice cream</h3>
        <p class="cardDescription">Ideal for everybody</p>
      </div>
      <div class="cardHover"></div>
      <img
        class="cardImage"
        src="./images/gallery/photo2-1x.jpg"
        alt="Vanilla ice cream"
      />
    </a>
  </div>
  <div class="galleryItem">
    <a
      class="card"
      href="./images/gallery/photo3-1x.jpg"
      target="_blank"
      data-title="Raspberry ice cream"
      data-description="First for lovers"
    >
      <div class="cardContent">
        <h3 class="cardTitle">Raspberry ice cream</h3>
        <p class="cardDescription">First for lovers</p>
      </div>
      <div class="cardHover"></div>
      <img
        class="cardImage"
        src="./images/gallery/photo3-1x.jpg"
        alt="Raspberry ice cream"
      />
    </a>
  </div>
  <div class="galleryItem">
    <a
      class="card"
      href="./images/gallery/photo4-1x.jpg"
      target="_blank"
      data-title="Fruit ice cream"
      data-description="Choose the favourite"
    >
      <div class="cardContent">
        <h3 class="cardTitle">Fruit ice cream</h3>
        <p class="cardDescription">Choose the favourite</p>
      </div>
      <div class="cardHover"></div>
      <img
        class="cardImage"
        src="./images/gallery/photo4-1x.jpg"
        alt="Fruit ice cream"
      />
    </a>
  </div>
  <div class="galleryItem">
    <a
      class="card"
      href="./images/gallery/photo5-1x.jpg"
      target="_blank"
      data-title="Balls of ice cream"
      data-description="Еvery little bit"
    >
      <div class="cardContent">
        <h3 class="cardTitle">Balls of ice cream</h3>
        <p class="cardDescription">Еvery little bit</p>
      </div>
      <div class="cardHover"></div>
      <img
        class="cardImage"
        src="./images/gallery/photo5-1x.jpg"
        alt="Balls of ice cream"
      />
    </a>
  </div>
  <div class="galleryItem">
    <a
      class="card"
      href="./images/gallery/photo6-1x.jpg"
      target="_blank"
      data-title="Festive ice cream set"
      data-description="Enjoy it"
    >
      <div class="cardContent">
        <h3 class="cardTitle">Festive ice cream set</h3>
        <p class="cardDescription">Enjoy it</p>
      </div>
      <div class="cardHover"></div>
      <img
        class="cardImage"
        src="./images/gallery/photo6-1x.jpg"
        alt="Festive ice cream set"
      />
    </a>
  </div>
  <div class="galleryItem">
    <a
      class="card"
      href="./images/gallery/photo7-1x.jpg"
      target="_blank"
      data-title="Berries ice cream"
      data-description="Оrder as much as you want"
    >
      <div class="cardContent">
        <h3 class="cardTitle">Berries ice cream</h3>
        <p class="cardDescription">Оrder as much as you want</p>
      </div>
      <div class="cardHover"></div>
      <img
        class="cardImage"
        src="./images/gallery/photo7-1x.jpg"
        alt="Berries ice cream"
      />
    </a>
  </div>
  <div class="galleryItem">
    <a
      class="card"
      href="./images/gallery/photo8-1x.jpg"
      target="_blank"
      data-title="Fruit ice cream"
      data-description="Choose the favourite"
    >
      <div class="cardContent">
        <h3 class="cardTitle">Fruit ice cream</h3>
        <p class="cardDescription">Choose the favourite</p>
      </div>
      <div class="cardHover"></div>
      <img
        class="cardImage"
        src="./images/gallery/photo8-1x.jpg"
        alt="Fruit ice cream"
      />
    </a>
  </div>
  <div class="galleryItem">
    <a
      class="card"
      href="./images/gallery/photo9-1x.jpg"
      target="_blank"
      data-title="Strawberry ice cream"
      data-description="With chocolate and sweet straws"
    >
      <div class="cardContent">
        <h3 class="cardTitle">Strawberry ice cream</h3>
        <p class="cardDescription">With chocolate and sweet straws</p>
      </div>
      <div class="cardHover"></div>
      <img
        class="cardImage"
        src="./images/gallery/photo9-1x.jpg"
        alt="Strawberry ice cream"
      />
    </a>
  </div>
  <div class="galleryItem">
    <a
      class="card"
      href="./images/gallery/photo10-1x.jpg"
      target="_blank"
      data-title="Plombir with chocolate and strawberries"
      data-description="A classic choice"
    >
      <div class="cardContent">
        <h3 class="cardTitle small">Plombir with chocolate and strawberries</h3>
        <p class="cardDescription">A classic choice</p>
      </div>
      <div class="cardHover"></div>
      <img
        class="cardImage"
        src="./images/gallery/photo10-1x.jpg"
        alt="Plombir with chocolate and strawberries"
      />
    </a>
  </div>
  <div class="galleryItem">
    <a
      class="card"
      href="./images/gallery/photo11-1x.jpg"
      target="_blank"
      data-title="Pistachio ice cream"
      data-description="Unique taste"
    >
      <div class="cardContent">
        <h3 class="cardTitle">Pistachio ice cream</h3>
        <p class="cardDescription">Unique taste</p>
      </div>
      <div class="cardHover"></div>
      <img
        class="cardImage"
        src="./images/gallery/photo11-1x.jpg"
        alt="Pistachio ice cream"
      />
    </a>
  </div>
  <div class="galleryItem">
    <a
      class="card"
      href="./images/gallery/photo12-1x.jpg"
      target="_blank"
      data-title="Mango ice cream"
      data-description="Exotic notes"
    >
      <div class="cardContent">
        <h3 class="cardTitle">Mango ice cream</h3>
        <p class="cardDescription">Exotic notes</p>
      </div>
      <div class="cardHover"></div>
      <img
        class="cardImage"
        src="./images/gallery/photo12-1x.jpg"
        alt="Mango ice cream"
      />
    </a>
  </div>
  <script src="../src/index.js"></script>
</section>
