<header>
  <div class="header-container container">
    <nav class="navigation">
      <a href="#"> <img src="./images/logo/logo-1x.png" alt="logo" /></a>

      <ul class="navigation-list">
        <li class="navigation-list__item">
          <a href="#Home" class="navigation__link">Home</a>
        </li>
        <li class="navigation-list__item">
          <a href="#How it’s made?" class="navigation__link">How it’s made?</a>
        </li>
        <li class="navigation-list__item">
          <a href="#Our products" class="navigation__link">Our products</a>
        </li>
        <li class="navigation-list__item">
          <a href="#Contact" class="navigation__link">Contact</a>
        </li>
      </ul>
    </nav>

    <button type="button" class="button-modal">Buy now</button>
  </div>
</header>
