<section class="hero">
<div class="hero__container">
    <div class="hero__container--wrap">
<div class="hero__title--container">
    <h1 class="hero__title">ice cream made with passion</h1>
<ul class="hero__list">
    <li class="hero__item"><a class="hero__link hero__link--btn" href="#products">Products</a></li>
    <li class="hero__item"><a class="hero__link hero__link--link" href="#how">How it’s made?</a></li>
</ul>
</div>
<div class="hero__about">
<ul class="hero__about--list">
    <li class="hero__about--item">
        <span class="hero__about--number">16</span>
        <p class="hero__about--text">cafes</p>
    </li>
    <li class="hero__about--item">
        <span class="hero__about--number">23</span>
        <p class="hero__about--text">food trucks</p>
    </li>
</ul>
</div>
</div>
<div class="hero__wrapper">
<p class="hero__wrapper--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
<button class="hero__wrapper--btn" type="button">
<svg width="40" height="16" class="hero__wrapper--arrow">
<use href="./images/sprite.svg#icon-arrow"></use>
</svg>
</button>
</div>
<picture>
    <source srcset="./images/hero/big-ice-cream-desktop-1x.png 1x,
                    ./images/hero/big-ice-cream-desktop-2x.png 2x,
                    ./images/hero/big-ice-cream-desktop-3x.png 3x" media="(min-width: 1200px)">
    <source srcset="./images/hero/big-ice-cream-tablet-1x.png 1x,
                    ./images/hero/big-ice-cream-tablet-2x.png 2x,
                    ./images/hero/big-ice-cream-tablet-3x.png 3x" media="(min-width: 768px)">
    <source srcset="./images/hero/big-ice-cream-480px-1x.png 1x,
                    ./images/hero/big-ice-cream-480px-2x.png 2x,
                    ./images/hero/big-ice-cream-480px-3x.png 3x" media="(min-width: 480px)">
    <source srcset="./images/hero/big-ice-cream-mobile-1x.png 1x,
                    ./images/hero/big-ice-cream-mobile-2x.png 2x,
                    ./images/hero/big-ice-cream-mobile-3x.png 3x">
    <img class="hero__image--cone" src="./images/hero/big-ice-cream-mobile-1x.png" alt="ice cream cone">
</picture>
<picture>
    <source srcset="./images/hero/dots-desktop.svg" media="(min-width: 1200px)">
    <source srcset="./images/hero/dots-tablet.svg" media="(min-width: 768px)">
    <source srcset="./images/hero/dots-480px.svg" media="(min-width: 480px)">
    <source srcset="./images/hero/dots-mobile.svg">
    <img class="hero__image--dots" src="./images/hero/dots-mobile.png" alt="dots-background">
</picture>
<picture>
    <source srcset="./images/hero/plate-ice-cream-desktop-1x.png 1x,
                    ./images/hero/plate-ice-cream-desktop-2x.png 2x,
                    ./images/hero/plate-ice-cream-desktop-3x.png 3x" media="(min-width: 1200px)">
    <source srcset="./images/hero/plate-ice-cream-tablet-1x.png 1x,
                    ./images/hero/plate-ice-cream-tablet-2x.png 2x,
                    ./images/hero/plate-ice-cream-tablet-3x.png 3x" media="(min-width: 768px)">
    <img class="hero__image--plate" src="./images/hero/plate-ice-cream-tablet-1x.png" alt="plate with ice-cream">
</picture>

</div>
</section>