<div class="modal modal-video" data-modal="modal-video">
  <button class="modal__close-btn js-modal-close">
    <svg class="modal__cross" width="20" height="20">
      <use href="./images/sprite.svg#icon-icon-close-modal"></use>
    </svg>
  </button>

  <p class="modal-video__title modal__title">How it’s made?</p>
  <iframe
    class="modal-video__video"
    src="https://www.youtube.com/embed/dQw4w9WgXcQ"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
  <p class="modal-video__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
    adipiscing elit, sed do eiusmod tempor incididunt ut labore et
  </p>
</div>
