<div class="modal-buy-now">
  <h2 class="modal-title">Buy now</h2>
  <ul class="modal-buy-now__list">
    <li class="modal-buy-now__item">
      <div class="modal-buy-now__circle"></div>

      <!-- <img
        class="modal-buy-now__img"
        src="./images/modals/buy-now-modal/photo1-desktop-1x.png"
        alt=""
      /> -->

      <h3 class="modal-buy-now__title">ice cream</h3>
      <label class="products-check__label" for="ice-cream"></label>
    </li>

    <li class="modal-buy-now__item">
      <div class="modal-buy-now__circle"></div>

      <!-- <img
        class="modal-buy-now__img"
        src="./images/modals/buy-now-modal/photo2-desktop-1x.png"
        alt=""
      /> -->
      <h3 class="modal-buy-now__title">ice coffee</h3>
      <label class="products-check__label" for="ice-coffee"></label>
    </li>

    <li class="modal-buy-now__item">
      <div class="modal-buy-now__circle"></div>

      <!-- <img
        class="modal-buy-now__img"
        src="./images/modals/buy-now-modal/photo3-desktop-1x.png"
        alt=""
      /> -->

      <h3 class="modal-buy-now__title">milkshake</h3>
      <label class="products-check__label" for="milk-shake"></label>
    </li>
  </ul>
  <input
    class="products-check__input"
    type="radio"
    name="point"
    id="ice-cream"
    checked
  />
  <input
    class="products-check__input"
    type="radio"
    name="point"
    id="ice-coffee"
  />
  <input
    class="products-check__input"
    type="radio"
    name="point"
    id="milk-shake"
  />
  <!-- <div class="products-check">
    <button type="button" class="products-check__button"></button>
    <button type="button" class="products-check__button"></button>

    <button type="button" class="products-check__button"></button>
  </div> -->
</div>
