<div class="modal-buy-now">
  <h2 class="modal-title">Buy now</h2>
  <ul class="modal-buy-now__list">
    <li class="modal-buy-now__item modal-buy-now__item--green">
      <label
        class="products-check__label products-check__label--green"
        for="ice-cream"
      >
        <input
          class="products-check__input"
          type="checkbox"
          name="point"
          id="ice-cream"
          checked
        />
        <div class="modal-buy-now__circle"></div>
        ice cream
      </label>
    </li>

    <li class="modal-buy-now__item modal-buy-now__item--yellow">
      <label
        class="products-check__label products-check__label--yellow"
        for="ice-coffee"
      >
        <input
          class="products-check__input"
          type="checkbox"
          name="point"
          id="ice-coffee"
        />
        <div class="modal-buy-now__circle"></div>
        ice coffee
      </label>
    </li>

    <li class="modal-buy-now__item modal-buy-now__item--brown">
      <label
        class="products-check__label products-check__label--brown"
        for="milk-shake"
      >
        <input
          class="products-check__input"
          type="checkbox"
          name="point"
          id="milk-shake"
        />
        <div class="modal-buy-now__circle"></div>
        milkshake
      </label>
    </li>
  </ul>

  <form class="modal-products__form products-form" name="products-form">
    <input
      type="text"
      class="products-form__input"
      placeholder="Name"
      required
      minlength="5"
    />

    <input
      type="tel"
      class="products-form__input"
      placeholder="Phone"
      required
      pattern="[0-9]{12}"
    />

    <textarea
      name="commentary"
      rows="3"
      class="products-form__input products-form__input-commentary"
      placeholder="Comment"
    ></textarea>

    <button type="submit" class="modal__submit-btn">Submit</button>
  </form>
</div>
