<div class="modal-map modal" data-modal="modal-map">
  <button class="modal__close-btn js-modal-close">
    <svg class="modal__cross" width="20" height="20">
      <use href="./images/sprite.svg#icon-icon-close-modal"></use>
    </svg>
  </button>

  <p class="modal-map__title modal__title">Our Locations</p>
  <iframe class="modal-map__map"
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10148.523163687654!2d30.476621339550782!3d50.513133200000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4d3292687bb9b%3A0x46e1c5ac4592b31a!2zSWwgR2VsYXRvL9CG0YLQsNC70ZbQudGB0YzQutC1INCc0L7RgNC-0LfQuNCy0L4!5e0!3m2!1suk!2sua!4v1673893368251!5m2!1suk!2sua" 
  style="border:0;" 
  allowfullscreen="" 
  loading="lazy" 
  referrerpolicy="no-referrer-when-downgrade"></iframe>
  <button type="button" class="modal__submit-btn">
    <a class="modal-map__link" href="https://goo.gl/maps/pd9hVPt6xSZWHhwo6" target="_blank">Open map</a>
  </button>
</div>
