<section class="products">
  <div class="products__container">
    <p class="products__pre-title">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products__item products-item">
        <div class="products__circle"></div>
        <h3 class="products-item__title">ice cream</h3>
        <p class="products-item__description">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button
          class="products-item__about-btn js-open-modal"
          data-modal="1"
          type="button"
        >
          <svg class="products-item__arrow" width="40" height="16">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>

      <li class="products__item products-item">
        <div class="products__circle"></div>
        <h3 class="products-item__title">ice coffee</h3>
        <p class="products-item__description">
          Fragrant invigorating drinks created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button
          class="products-item__about-btn js-open-modal"
          data-modal="2"
          type="button"
        >
          <svg class="products-item__arrow" width="40" height="16">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>

      <li class="products__item products-item">
        <div class="products__circle"></div>
        <h3 class="products-item__title">milkshakes</h3>
        <p class="products-item__description">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button
          class="products-item__about-btn js-open-modal"
          data-modal="3"
          type="button"
        >
          <svg class="products-item__arrow" width="40" height="16">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
