.advantages {
  padding-bottom: 64px;
  @include tel {
    padding-bottom: 60px;
  }
  @include tablet {
    padding-bottom: 204px;
  }
  @include desktop {
    padding-bottom: 178px;
  }
}
.advantages__items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
  max-width: 230px;
  margin: 0 auto;
  @include tablet {
    max-width: 616px;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
  }
  @include desktop {
    max-width: 1168px;
    gap: 32px;
  }
}
.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  @include tablet {
    gap: 12px;
  }
  @include desktop {
    gap: 36px;
  }
}
.advantages__image {
  @include tablet {
    padding-bottom: 28px;
  }
}
.advantages__number {
  text-transform: uppercase;
  line-height: 1.22;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.04em;
  @include tablet {
    font-size: 48px;
  }
  @include desktop {
    font-size: 58px;
  }
}
.advantages__description {
  text-align: center;
  line-height: 1.75;
  font-size: 12px;
  font-weight: 700;
  @include tablet {
    font-size: 14px;
    font-weight: 400;
  }
  @include desktop {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}
.show-desktop {
  display: none;
  @include desktop {
    display: inline;
  }
}
.not-show-desktop,
.show-not-desktop {
  @include desktop {
    display: none;
  }
}
