.contacts {
  padding-bottom: 60px;
  @media screen and (min-width: 768px) {
    padding-bottom: 40px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 120px;
  }
}

.container {
  @media screen and (min-width: 480px) and (max-width: 767px) {
    padding: 0 100px;
  }
}

.contacts-transform__container {
  transform: translateY(-353px);
  margin-bottom: 20px;
  @media screen and (min-width: 480px) {
    transform: translateY(-349px);
    margin-bottom: 24px;
  }
  @media screen and (min-width: 768px) {
    transform: translateY(-299px);
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1200px) {
    transform: translateY(-128px);
    margin-bottom: 60px;
  }
}

.contacts__hidden-header {
  @extend %visually-hidden;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    gap: 32px;
  }
}
.contacts-list__item {
  height: 412px;
  background-color: $color-text-main;
  border-radius: 24px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  @media screen and (min-width: 768px) {
    height: 537px;
    width: 224px;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    height: 542px;
    width: 368px;
  }
}

.contacts-list-item__box {
  width: 88px;
  height: 22px;
  background-color: $color-accent;
  margin: 40px 168px 20px 32px;
  border-radius: 4px;
  @media screen and (min-width: 768px) {
    width: 73px;
    height: 30px;
    border-radius: 6px;
    margin: 40px 127px 32px 24px;
  }
  @media screen and (min-width: 1200px) {
    margin: 40px 252px 32px 40px;
  }
}

.contacts-list-item__box-2 {
  width: 130px;
  height: 22px;
  background-color: $color-accent;
  margin: 40px 168px 20px 32px;
  border-radius: 4px;
  @media screen and (min-width: 768px) {
    width: 138px;
    height: 30px;
    border-radius: 6px;
    margin: 40px 62px 32px 24px;
  }
  @media screen and (min-width: 1200px) {
    width: 148;
    margin: 40px 180px 32px 40px;
  }
}

.contacts-list-item-box__categories {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: $color-text-secondary;
  text-align: center;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.contacts-list-item-box-2__categories {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: $color-text-secondary;
  text-align: center;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.contacts-list-item__container {
  height: 238px;
  margin-left: 32px;
  margin-right: 32px;
  @media screen and (min-width: 768px) {
    margin-left: 24px;
    margin-right: 27px;
    height: 317px;
  }
  @media screen and (min-width: 1200px) {
    height: 316px;
    margin-left: 40px;
    margin-right: 40px;
  }
}

.contacts-list-item__name-city {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: $color-text-secondary;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.contacts-list-item__address {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: $color-third-card;
  line-height: 22px;
  display: block;
  letter-spacing: 0.04em;
  border-bottom: 1px solid $color-contacts-border;
  padding-bottom: 24px;
  @media screen and (min-width: 768px) {
    margin-top: 12px;
    font-size: 14px;
    padding-bottom: 32px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    margin-top: 8px;
  }
}

.contacts-list-item__address:hover,
.contacts-list-item__address:focus,
.contacts-list-item__address:active {
  text-decoration-line: underline;
  @extend %cursor;
}

.contacts-list-item__days {
  margin-top: 24px;
  @media screen and (min-width: 768px) {
    margin-top: 32px;
  }
}

.contacts-list-item__days-1 {
  margin-top: 8px;
  @media screen and (min-width: 1200px) {
    margin-top: 12px;
  }
}

/* text-days-setting*/

.text-days-setting {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.86;
  color: $color-text-secondary;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    letter-spacing: 0.04em;
  }
}

.contacts-list-item__time-1 {
  border-bottom: 1px solid $color-contacts-border;
  padding-bottom: 24px;
  @media screen and (min-width: 768px) {
    padding-bottom: 32px;
  }
}

/* text-time-setting*/

.text-time-setting {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.86;
  color: $color-time;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    color: $color-contacts-address;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    color: $color-time;
  }
}

.contacts-list-item__communication {
  margin-top: 24px;
  @media screen and (min-width: 768px) {
    margin-top: 32px;
  }
}

.contacts-list-item-communication__link {
  margin-bottom: 6px;
  height: 19px;
  @media screen and (min-width: 768px) {
    margin-bottom: 4px;
    height: 21px;
  }
  @media screen and (min-width: 1200px) {
    height: 24px;
  }
}

.contacts-list-item-communication__link:last-child {
  margin-bottom: 0px;
}

/* text-link-setting*/
.text-link-setting {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.6;
  color: $color-text-secondary;
  display: block;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.5;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.text-link-setting:hover,
.text-link-setting:focus {
  color: $color-third-card;
  @extend %cursor;
}

.text-link-setting:active {
  color: $color-third-card;
  @extend %cursor;
  text-decoration-line: underline;
}

.container-button {
  display: flex;
  flex-direction: column;
  margin: -353px 42px 0 42px;
  @media screen and (min-width: 480px) {
    margin: -349px 42px 0 42px;
  }
  @media screen and (min-width: 768px) {
    margin: -299px 180px 0px 180px;
    flex-direction: row;
    gap: 16px;
  }
  @media screen and (min-width: 1200px) {
    margin: -128px 380px 0px 380px;
  }
}

.contacts-button__btn-primary {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  border-radius: 10px;
  background-color: $color-accent;
  color: $color-text-secondary;
  margin-bottom: 16px;
  height: 42px;
  border: 0;
  @extend %centered;
  @media screen and (min-width: 768px) {
    width: 100%;
    margin-bottom: 0px;
  }
}

.contacts-button__btn-primary:hover {
  background-color: $color-btn-hover;
  color: $color-btn-text-hover;
  @extend %cursor;
}

.contacts-button__btn-primary:focus {
  background-color: $color-btn-hover;
  color: $color-btn-text-secondary;
  @extend %cursor;
}

.contacts-button__btn-primary:disabled {
  background-color: $color-time;
  color: $color-text-secondary;
  @extend %cursor;
}

.contacts-button__btn-primary-1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  border-radius: 10px;
  color: $color-btn-text-hover;
  height: 42px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $color-accent;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    width: 100%;
  }
}

.contacts-button__btn-primary-1:hover {
  border: 2px solid $color-btn-hover;
  @extend %cursor;
}

.contacts-button__btn-primary-1:focus {
  border: 2px solid $color-btn-hover;
  @extend %cursor;
  color: $color-btn-text-secondary;
}

.container-button__arrow {
  margin-left: 4px;
  fill: currentColor;
}
