.customer-reviews {
  padding-top: 40px;
  padding-bottom: 393px;
  background-image: url(../images/bg/bg-mobile/bg-mobile-1x.jpg);
  background-size: cover;
  text-align: center;
}
.container--wrapper {
  max-width: 320px;
}

.wrapper__photo {
  display: block;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
}
.wrapper__comment {
  display: flex;
  align-items: center;
  min-width: 280px;
  height: 256px;
  background-color: $color-bg-main;
  padding: 35px 39px;
  margin-bottom: 32px;
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 2.55;
  /* or 31px */

  text-align: center;
}
.wrapper__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.86;

  $color-text-secondary: #131313;
  color: $color-text-secondary;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper > input {
  display: none;
}

.wrapper__slider {
  position: relative;
  overflow: hidden;
  margin-bottom: 12px;
}
.wrapper__slides {
  height: 100%;
  //   width: inherit;
  z-index: 0;
  //   opacity: 0;
  transition: all 2250ms ease-in-out;
  position: relative;
}

.wrapper__slides--slide1 {
  transform: scale(0.7);

  opacity: 0;
  transition: all 500ms ease-in-out;
}
.wrapper__slides--slide2 {
  opacity: 0;
  transform: scale(0.7);
  //   transform: translateX(100%);
  transition: all 500ms ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}
.wrapper__slides--slide3 {
  opacity: 0;
  transform: scale(0.7);

  transition: all 500ms ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}
#slide1:checked ~ .wrapper__slider > .wrapper__slides--slide1,
#slide2:checked ~ .wrapper__slider > .wrapper__slides--slide2,
#slide3:checked ~ .wrapper__slider > .wrapper__slides--slide3 {
  opacity: 1;
  transform: scale(1);
}
.wrapper__controls {
  display: flex;
  justify-content: center;
  padding-left: 10px;
  padding-right: 15px;
  &:hover {
    cursor: url(../images/cursor/cursor.svg) 4 12, auto;
  }
}
.wrapper label {
  display: block;
  width: 12px;
  height: 12px;

  border-radius: 50%;
  background-color: #d9d9d9;

  transition: background-color ease-in-out 0.5s;
  &:not(:first-child) {
    margin-left: 18px;
  }
}

// .wrapper label {
//   background-color: #d9d9d9;
// }

.wrapper label:hover,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3) {
  background-color: $color-bg-main;
  cursor: url(../images/cursor/cursor.svg) 4 12, auto;
}
