// @media screen and (min-width: 480px) {
// }
// @media screen and (min-width: 768px) {
// }
// @media screen and (min-width: 1200px) {
// }
// .container {
//   position: relative;
// }
// .gallery {
//   position: absolute;
//   top: 0;
//   left: 0;
// }
.gallery--container {
  max-width: 280px;
  margin: 0 auto;
  overflow: hidden;
  @media screen and (min-width: 480px) {
    max-width: 440px;
  }
  @media screen and (min-width: 768px) {
    max-width: 704px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1030px;
  }
  &:hover #slideset {
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
  }
}
.secret-name {
  @extend %visually-hidden;
}
.gallery__items:hover #slideset {
  animation-play-state: paused;
}
#slideset {
  height: 422px;
  position: relative;
  overflow: hidden;
}
#slideset > * {
  position: absolute;
  top: 100%;
  left: 0;
  animation: 12s autoplay infinite ease-in-out;
}
.gallery__item:hover #slideset {
  animation-play-state: paused;
}
@keyframes autoplay {
  0% {
    top: 100%;
  }
  4% {
    top: 0%;
  }
  33.33% {
    top: 0%;
  }
  37.33% {
    top: -100%;
  }
  100% {
    top: -100%;
  }
}
#slideset > *:nth-child(1) {
  animation-delay: 0s;
}
#slideset > *:nth-child(2) {
  animation-delay: 4s;
}
#slideset > *:nth-child(3) {
  animation-delay: 8s;
}

.gallery__item {
  position: relative;
  img {
    border-radius: 24px;
  }
}

.card__content {
  position: absolute;
  bottom: 9px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 30px;
  overflow: hidden;
  border-radius: 15px 30px;
  color: $color-third-card;
  text-shadow: 1px 1px 2px $color-btn-text;
  background: $color-second-card;
  transition: height $cubic;
  @media screen and (min-width: 480px) {
    border-radius: 15px 24px;
    width: 45%;
    height: 40px;
  }
  @media screen and (min-width: 768px) {
    bottom: 9.5px;
    width: 30%;
    height: 50px;
  }
  @media screen and (min-width: 1200px) {
    border-radius: 15px 23px;
    height: 70px;
  }
  .card__title {
    font-size: 10px;
    @media screen and (min-width: 480px) {
      font-size: 12px;
    }
    @media screen and (min-width: 768px) {
      font-size: 15px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 20px;
    }
  }
  .card__description {
    color: $color-adress;
    text-shadow: 0.1px 0.1px 1px $color-btn-text;
    font-size: 7px;
    @media screen and (min-width: 480px) {
      font-size: 10px;
    }
    @media screen and (min-width: 768px) {
      font-size: 12px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 15px;
    }
  }
}
