.section-wrapper {
  position: relative;
}
.gallery {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translateY(-32px);
  @include tel {
    transform: translateY(-30px);
  }
  @include tablet {
    transform: translateY(-144px);
  }
  @include desktop {
    transform: translateY(-98px);
  }
}

.gallery--container {
  margin: 0 auto;
  height: 230px;
  img {
    width: 87vw;
    height: auto;
    border-radius: 24px;
  }
  @include tel {
    img {
      width: 100%;
      height: auto;
    }
    margin-left: -80px;
    width: 440px;
    height: 204px;
  }
  @include tablet {
    margin: 0 auto;
    width: 704px;
    height: 327px;
  }
  @include desktop {
    width: 1013px;
    height: 422px;
  }
  &:hover #slideset {
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
  }
}
.secret-name {
  @extend %visually-hidden;
}
#slideset {
  height: 230px;
  position: relative;
  overflow: hidden;
  @include tel {
    width: 440px;
    height: 204px;
  }
  @include tablet {
    width: 704px;
    height: 327px;
  }
  @include desktop {
    width: 1013px;
    height: 422px;
  }
}
#slideset > * {
  position: absolute;
  left: 100%;
  top: 0;
  animation: 12s autoplay infinite ease-in-out;
}
@keyframes autoplay {
  0% {
    left: 110%;
  }
  4% {
    left: 0%;
  }
  33.33% {
    left: 0%;
  }
  37.33% {
    left: -110%;
  }
  100% {
    left: -110%;
  }
}
#slideset > *:nth-child(1) {
  animation-delay: 0s;
}
#slideset > *:nth-child(2) {
  animation-delay: 4s;
}
#slideset > *:nth-child(3) {
  animation-delay: 8s;
}

.gallery__item {
  position: relative;
}

.card__content {
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 87%;
  height: 12px;
  overflow: hidden;
  border-radius: 15px;
  color: $color-btn-text;
  background: #aec6a5a9;
  display: none;
  @include tel {
    display: inline-block;
    left: 12px;
    width: 94%;
    height: 15px;
  }
  @include tablet {
    left: 10px;
    width: 97%;
    height: 20px;
  }
  @include desktop {
    left: 7px;
    width: 98.7%;
    height: 30px;
  }
  p {
    margin-top: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    @include tel {
      gap: 30px;
    }
    @include tablet {
      gap: 70px;
    }
    @include desktop {
      gap: 150px;
    }
  }

  .card__title {
    font-size: 10px;
    @include tel {
      font-size: 12px;
    }
    @include tablet {
      font-size: 15px;
    }
    @include desktop {
      font-size: 20px;
    }
  }
  .card__description {
    font-size: 7px;
    @include tel {
      font-size: 10px;
    }
    @include tablet {
      font-size: 12px;
    }
    @include desktop {
      font-size: 15px;
    }
  }
}
