.page-header {
  position: relative;
}
.page-header__container {
  padding-top: 12px;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 480px) {
    padding-top: 14px;
  }

  @media screen and (min-width: 768px) {
    align-items: center;
    width: 100%;

    padding-top: 20px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

//  НАВИГАЦИЯ!!!

.navigation {
  display: flex;
  align-items: center;
}

// КНОПКА МЕНЮ

.menu-button-open {
  margin-left: auto;

  padding: 0;

  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  fill: $color-btn-text-secondary;

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

// МЕНЮ!!!

.menu {
  display: none;

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}

.menu__item {
  margin-right: 28px;

  &:last-child {
    margin-right: 0;
  }
}

.menu__link {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.21;

  color: $color-text-main;
  transition: $cubic;

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.25;
  }

  &:hover,
  &:focus {
    color: $color-text-secondary;
  }
}

// МОБИЛЬНОЕ МЕНЮ!!!

.menu-container {
  position: absolute;
  top: 103px;
  left: 0;
  width: 100vw;
  height: 100vh;

  z-index: 2;

  // transform: translateX(100%);
  // transition: transform 250ms ease-in-out;

  padding-top: 12px;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 480px) {
    padding-top: 14px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;

    padding-top: 20px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1200px) {
    position: static;
    display: block;

    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.menu-button-close {
  position: absolute;
  top: -70px;
  right: 20px;

  padding: 0;

  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  fill: $color-btn-text-secondary;

  @media screen and (min-width: 480px) {
    top: -82px;
    right: 20px;
  }

  @media screen and (min-width: 768px) {
    top: -72px;
    right: 32px;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 40px;

  // transform: translateX(100%);

  // transition: transform $cubic;

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobile-menu__link {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.22;

  color: $color-text-main;
  transition: $cubic;

  @media screen and (min-width: 768px) {
    font-size: 48px;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }

  &:hover,
  &:focus {
    color: $color-text-secondary;
  }
}

.button-modal {
  display: block;

  margin-left: auto;
  margin-right: auto;

  width: 152px;
  height: 42px;

  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  color: $color-btn-text;

  background-color: $color-accent;
  transition: $cubic;

  border-radius: 10px;
  border: none;

  @media screen and (min-width: 768px) {
    position: absolute;

    top: -75px;
    right: 85px;
  }

  @media screen and (min-width: 1200px) {
    top: 28px;
    right: 16px;
  }

  &:hover {
    background-color: $color-btn-hover;
  }
  &:focus {
    background-color: $color-btn-hover;
    color: $color-btn-text-secondary;
  }
}

.button-modal__icon {
  fill: $color-btn-text;

  &:hover {
    fill: $color-btn-text;
  }
  &:focus {
    fill: $color-btn-text-secondary;
  }
}
