.header-container {
}

.navigation {
  display: flex;
}

.navigation-list {
}

.navigation-list__item {
}

.navigation__link {
}

.button-modal {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;

  color: $color-btn-text;
}
