.modal-buy-now {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 28px;
  width: 280;
  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
}

.modal-title {
  font-family: 'Seymour One', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $color-text-secondary;
  margin-bottom: 83px;

  @include tel {
    margin-bottom: 145px;
  }

  @include tablet {
    line-height: 1.26;
    font-size: 34px;
    margin-bottom: 200px;
  }

  @include desktop {
    line-height: 1.25;
    font-size: 36px;
    margin-bottom: 303px;
  }
}
.products-check__input {
  // display: none;
}

.modal-buy-now__list {
  @include tablet {
    display: flex;
  }
}
.modal-buy-now__circle {
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
  border-radius: 50%;
  width: 132px;
  height: 132px;
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  @include tel {
    top: -105px;
  }

  @include tablet {
    top: -120px;
  }

  @include desktop {
    width: 132px;
    height: 132px;
    top: -183px;
  }
}

.modal-buy-now__circle::before {
  content: '';
  background-size: cover;
  width: 132px;
  height: 132px;
  position: absolute;
  top: -7px;

  background-image: url(../images/modals/buy-now-modal/photo1-desktop-1x.png);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/products/card1-tablet-2x.png);
  }
  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url(../images/products/card1-tablet-3x.png);
  }

  @include desktop {
    width: 132px;
    height: 132px;
    top: -16px;

    background-image: url(../images/products/card1-desktop-1x.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/card1-desktop-2x.png);
    }
    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url(../images/products/card1-desktop-3x.png);
    }
  }
}
.modal-buy-now__item {
  border-radius: 24px;
  padding-top: 96px;
  padding-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px;
  width: 132px;
  // height: 420px;
  position: relative;
  margin-left: auto;
  margin-right: auto;

  border: 2px solid #96af8c;
  filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
  border-radius: 15px;
  &:not(:last-child) {
    margin-bottom: 82px;
    @include tablet {
      margin-bottom: 0;
      margin-right: calc((100% - (3 * 224px)) / 2);
    }

    @include desktop {
      margin-right: calc((100% - (3 * 370px)) / 2);
    }
  }

  @include tel {
    width: 132px;
    height: 428px;
    padding-top: 126px;
    padding-left: 25px;
    padding-right: 25px;
  }

  @include tablet {
    width: 224px;
    padding-top: 108px;
    margin-left: 0;
    padding-left: 26px;
    padding-right: 26px;
    // margin-right: 0;
  }

  @include desktop {
    width: 370px;
    height: 536px;
    padding-top: 165px;
    padding-left: 64px;
    padding-right: 64px;
  }
}
.modal-buy-now__item:nth-child(2) {
  & .modal-buy-now__circle {
    background: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
    &::before {
      background-image: url(../images/products/card2-tablet-1x.png);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products/card2-tablet-2x.png);
      }
      @media (min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
        background-image: url(../images/products/card2-tablet-3x.png);
      }
      @include desktop {
        background-image: url(../images/products/card2-desktop-1x.png);

        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../images/products/card2-desktop-2x.png);
        }
        @media (min-device-pixel-ratio: 3),
          (min-resolution: 288dpi),
          (min-resolution: 3dppx) {
          background-image: url(../images/products/card2-desktop-3x.png);
        }
      }
    }
  }
}
.modal-buy-now__item:nth-child(3) {
  & .modal-buy-now__circle {
    background: linear-gradient(
        0deg,
        rgba(213, 117, 63, 0.7),
        rgba(213, 117, 63, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
    &::before {
      background-image: url(../images/products/card3-tablet-1x.png);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products/card3-tablet-2x.png);
      }
      @media (min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
        background-image: url(../images/products/card3-tablet-3x.png);
      }

      @include desktop {
        background-image: url(../images/products/card3-desktop-1x.png);

        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../images/products/card3-desktop-2x.png);
        }
        @media (min-device-pixel-ratio: 3),
          (min-resolution: 288dpi),
          (min-resolution: 3dppx) {
          background-image: url(../images/products/card3-desktop-3x.png);
        }
      }
    }
  }
}

.modal-buy-now__title {
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $color-text-secondary;
  font-weight: 700;
  font-size: 16px;
  /* identical to box height */

  letter-spacing: 0.04em;

  @include tablet {
    font-size: 22px;
  }

  @include desktop {
    font-size: 30px;
    margin-bottom: 66px;
  }
}
.products-check__label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;

  width: 100%;
  height: 100%;
}
#ice-cream:checked ~ .modal-buy-now__list > .modal-buy-now__item,
#ice-coffee:checked ~ .modal-buy-now__list > .modal-buy-now__item,
#milk-shake:checked ~ .modal-buy-now__list > .modal-buy-now__item {
  background-color: #96af8c;
}
.modal-buy-now__item:hover .modal-buy-now__item,
.modal-buy-now__item:focus-within .modal-buy-now__item,
#ice-cream:checked ~ .modal-buy-now__list .modal-buy-now__item:nth-of-type(1),
#ice-coffee:checked ~ .modal-buy-now__list .modal-buy-now__item:nth-of-type(2),
#milk-shake:checked ~ .modal-buy-now__list .modal-buy-now__item:nth-of-type(3) {
  background-color: $color-bg-main;
  @extend %cursor;
}
