.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
}

.no-scroll {
  overflow: hidden;
}

// Стилі для кнопки закриття

.modal__close-btn {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 12px;
  right: 12px;
  fill: $color-text-secondary;
  @extend %cursor;
  @extend %centered;
  padding: 0;
  border-radius: 50%;
  border: none;
  background-color: transparent;

  transition: scale $cubic, box-shadow $cubic;

  @include tablet {
    width: 24px;
    height: 24px;
  }

  &:hover,
  &:focus {
    scale: 1.3;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
      0px 2px 1px rgb(0 0 0 / 20%);
  }
}

.modal__cross {
  width: 20px;
  height: 20px;
  @include tablet {
    width: 24px;
    height: 24px;
  }
}

// стилі для заголовка модалки

.modal__title {
  font-family: 'Seymour One', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: $color-text-secondary;

  @include tablet {
    font-size: 20px;
    line-height: 1.4;
  }
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

// Стилі для модалок

.modal {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;

  background-color: $color-modal-bg;

  border-radius: 10px;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 28px;
  padding-right: 28px;

  max-height: 85%;
  overflow: auto;

  @include tablet {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 60px;
    padding-right: 60px;
  }

  //   Наступні стилі всі собі створюють
  //   клас і задають індивідуальні стилі
  //   width:
}

.modal__submit-btn {
  padding: 12px 34px;
  color: $color-text-secondary;
  background-color: transparent;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  border-radius: 10px;
  border: none;
  @extend %cursor;

  display: block;
  margin-left: auto;
  margin-right: auto;

  @include tablet {
    font-size: 14px;
    line-height: 1.21;
  }

  transition: color $cubic;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-accent;
    border-radius: 10px;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: $color-btn-hover;
    transition: width $cubic;
    border-radius: 10px;
    z-index: -1;
  }
  &:hover {
    &:before {
      width: 100%;
    }
  }

  &:focus {
    color: $color-modal-bg;
  }
}

.form__input {
  width: 100%;
  padding: 11px 10px;

  background: $color-input;
  border: 1px solid $color-bg-main;
  border-radius: 10px;
  font-size: 14px;
  line-height: 1.4;
  color: $color-text-secondary;

  // transition: border-color $cubic;

  @include tablet {
    width: 368px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
  }

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  &:nth-last-child(2) {
    margin-bottom: 24px;

    @include tablet {
      margin-bottom: 32px;
    }
  }

  &:focus {
    border: 1px solid $color-accent;
    outline: none;
  }
}

.form__input-commentary {
  resize: none;
}

.form__input:not(:placeholder-shown):required:valid {
  border-color: $color-bg-main;
}

.form__input:not(:placeholder-shown):not(:focus):required:invalid {
  border-color: $color-input-invalid;
}
// На кнопку відкриття модалки
// треба дати клас js-open-modal та data-modal="id", де id унікальний
// для кожної модалки і має співпадати з data-modal="id" модалки

// для div модалки обовязково дати класи
// modal і modal--назва-секції і атрибут data-modal="id"
// id те саме що і на кнопці відкривання модалки

// НАПРИКЛАД: class="products-modal modal" data-modal="id"

// overlay не потрібно додавати, він один і він
// автоматично буде для кожної модалки

// class="modal__close-btn js-modal-close" - ці класи
// дати на кнопку закриття модалки

// class="modal__cross" - дати на svg закриття модалки

// клас modal__title додати на заголовок модалки

// На всі input додати клас form__input
// + на input коментарі додати клас form__input-commentary

// Якщо щось незрозуміло, то звертайтесь до Мартіни
// + ще можете глянути модалку яу робила Мартіна
// і за шаблоном зробити (partials/modal-products.html)
