.products {
  background-image: url(../images/bg/bg-mobile/bg-mobile-1x.jpg);
  background-position: center;
  padding: 60px 0;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/bg/bg-mobile/bg-mobile-2x.jpg);
  }
  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url(../images/bg/bg-mobile/bg-mobile-3x.jpg);
  }

  @include tablet {
    background-image: url(../images/bg/bg-tablet/bg-tablet-1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/bg/bg-tablet/bg-tablet-2x.jpg);
    }
    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url(../images/bg/bg-tablet/bg-tablet-3x.jpg);
    }
  }

  @include desktop {
    background-image: url(../images/bg/bg-desktop/bg-desktop-1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/bg/bg-desktop/bg-desktop-2x.jpg);
    }
    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url(../images/bg/bg-desktop/bg-desktop-3x.jpg);
    }
  }
}

.products__container {
  margin: 0 auto;
  padding: 0 20px;

  @include tel {
    width: 480px;
  }

  @include tablet {
    width: 768px;
    padding: 0 32px;
  }

  @include desktop {
    width: 1200px;
    padding: 0 16px;
  }
}

.products__pre-title {
  font-size: 18px;
  font-weight: 800;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
  color: $color-text-secondary;
  margin-bottom: 12px;

  @include tablet {
    font-size: 22px;
  }

  @include desktop {
    font-size: 30px;
  }
}

.products__title {
  font-family: 'Seymour One', sans-serif;
  font-size: 30px;
  line-height: 1.27;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $color-text-secondary;
  margin-bottom: 148px;

  @include tel {
    margin-bottom: 145px;
  }

  @include tablet {
    line-height: 1.26;
    font-size: 34px;
    margin-bottom: 200px;
  }

  @include desktop {
    line-height: 1.25;
    font-size: 36px;
    margin-bottom: 303px;
  }
}

.products__list {
  @include tablet {
    display: flex;
  }
}

.products__circle {
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: absolute;
  top: -108px;
  left: 50%;
  transform: translateX(-50%);
  @include tel {
    top: -105px;
  }

  @include tablet {
    top: -120px;
  }

  @include desktop {
    width: 302px;
    height: 302px;
    top: -183px;
  }
}

.products__circle::before {
  content: '';
  background-size: cover;
  width: 200px;
  height: 200px;
  position: absolute;
  top: -11px;

  background-image: url(../images/products/card1-tablet-1x.png);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/products/card1-tablet-2x.png);
  }
  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url(../images/products/card1-tablet-3x.png);
  }

  @include desktop {
    width: 302px;
    height: 302px;
    top: -16px;

    background-image: url(../images/products/card1-desktop-1x.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/card1-desktop-2x.png);
    }
    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url(../images/products/card1-desktop-3x.png);
    }
  }
}

.products-item {
  border-radius: 24px;
  padding-top: 123px;
  padding-bottom: 16px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  height: 420px;
  position: relative;
  margin-left: auto;
  margin-right: auto;

  background-color: $color-first-card;

  &:not(:last-child) {
    margin-bottom: 168px;
    @include tablet {
      margin-bottom: 0;
      margin-right: calc((100% - (3 * 224px)) / 2);
    }

    @include desktop {
      margin-right: calc((100% - (3 * 370px)) / 2);
    }
  }

  @include tel {
    width: 250px;
    height: 428px;
    padding-top: 126px;
    padding-left: 25px;
    padding-right: 25px;
  }

  @include tablet {
    width: 224px;
    padding-top: 108px;
    margin-left: 0;
    padding-left: 26px;
    padding-right: 26px;
    // margin-right: 0;
  }

  @include desktop {
    width: 370px;
    height: 536px;
    padding-top: 165px;
    padding-left: 64px;
    padding-right: 64px;
  }
}

.products-item:nth-child(2) {
  background-color: $color-second-card;
  & .products__circle {
    background: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
    &::before {
      background-image: url(../images/products/card2-tablet-1x.png);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products/card2-tablet-2x.png);
      }
      @media (min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
        background-image: url(../images/products/card2-tablet-3x.png);
      }
      @include desktop {
        background-image: url(../images/products/card2-desktop-1x.png);

        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../images/products/card2-desktop-2x.png);
        }
        @media (min-device-pixel-ratio: 3),
          (min-resolution: 288dpi),
          (min-resolution: 3dppx) {
          background-image: url(../images/products/card2-desktop-3x.png);
        }
      }
    }
  }
}

.products-item:nth-child(3) {
  background-color: $color-third-card;
  & .products__circle {
    background: linear-gradient(
        0deg,
        rgba(213, 117, 63, 0.7),
        rgba(213, 117, 63, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
    &::before {
      background-image: url(../images/products/card3-tablet-1x.png);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products/card3-tablet-2x.png);
      }
      @media (min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
        background-image: url(../images/products/card3-tablet-3x.png);
      }

      @include desktop {
        background-image: url(../images/products/card3-desktop-1x.png);

        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../images/products/card3-desktop-2x.png);
        }
        @media (min-device-pixel-ratio: 3),
          (min-resolution: 288dpi),
          (min-resolution: 3dppx) {
          background-image: url(../images/products/card3-desktop-3x.png);
        }
      }
    }
  }
}

.products-item__title {
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $color-text-secondary;
  margin-bottom: 40px;

  @include tablet {
    font-size: 22px;
  }

  @include desktop {
    font-size: 30px;
    margin-bottom: 66px;
  }
}

.products-item__description {
  font-size: 14px;
  line-height: 1.76;
  text-align: center;
  letter-spacing: 0.04em;
  color: $color-text-secondary;

  @include desktop {
    font-size: 16px;
  }
}

.products-item__about-btn {
  display: block;
  position: absolute;
  background-color: transparent;
  border: none;
  @extend %cursor;
  padding: 0;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  height: 16px;

  @include tablet {
    bottom: 12px;
  }

  @include desktop {
    bottom: 60px;
  }
}
